@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

body {
  margin-top: 70px;
  font-family: Merriweather, serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #475b62;
  text-shadow: 1px 1px rgb(255,255,255);
  margin: 0;
}

input {
  color: #475B62;
  background: rgba(255,255,255,1);
  border: 1px solid white;
  border-radius: 10px;
  outline: 0;
  padding: 4px;
}

.btn:hover { 
  background-color: #66CCFF;
}