@import 'reset';
@import 'variables';
@import 'base';
@import 'layout';

/* Alert and Error styles */

.error {
  color: #D11404;
}

.ng-dirty.ng-invalid {
  border-color: #D11404;
}

.ng-dirty.ng-valid {
  border-color: #21D153;
}

.alert {
  margin-top: 10px;
  a { margin-left: 20px; }
}

/*
 * Page styles
 */

.welcome {
  @extend .box;
  margin-top: 10px; 
  button {
    margin: 10px 0;
  }
}

.register {
  @extend .box;
  padding: 10px;
}

.login {
  @extend .box;
  padding: 10px;
}

.user {
  @extend .box;
  padding: 10px;
  h1 {
    margin: 5px auto;
  }
}

.events {
  @extend .box;
  background-color: darken($grey, 16%);
  margin: 8px auto;
  h2 { 
    float: left;
    margin-left: 6px;
  }
  .button-group { float: right; }

}

.event {
  > div {
    @extend .box;
    padding: 10px;
    font-size: 1.4rem
  }
  a { margin: 5px auto; }  
  input { 
    width: 50%; 
    margin: 6px auto; 
  }
  select {
    width: 50%;
    margin: 0 auto;
  }
}

.event-participants {
  @extend .box;
  background-color: #fff;
  border: 1px solid $grey;
  margin-top: 6px;
  padding: 10px;
  td { text-align: left;}
  tr {
    &:nth-child(even) { background: $grey; }
  }
}

.edit-divisions {
  @extend .box;
  td { text-align: left; }
}

.make-divisions {
  @extend .box;
  padding: 10px;
  h1 { margin-bottom: 10px; }
  input { 
    width: 45%;
    float: left; 
    margin-right: 5px;
  }
  .radio-inline { float: left; }
}

.event-edit {
  @extend .box;
  padding: 10px;
  h1 { margin-bottom: 10px; }
}

.signup {
  @extend .box;
  padding: 10px;
  h1 { margin: 6px auto; }
  .radio-inline {
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
  }
}

.directory {
  @extend .box;
  padding: 10px;
  div:nth-child(even) {
    @extend .box;
    background-color: #fff;
  }
}





