@import 'reset';
@import 'variables';
@import 'base';
@import 'layout';

/* Alert and Error styles */

.error {
  color: #D11404;
}

.ng-dirty.ng-invalid {
  border-color: #D11404;
}

.ng-dirty.ng-valid {
  border-color: #21D153;
}

.alert {
  margin-top: 10px;
  a { margin-left: 20px; }
}

/*
 * Page styles
 */

.welcome {
  @extend .box;
  margin-top: 10px; 
  button {
    margin: 10px 0;
  }
}

.register {
  @extend .box;
  padding: 10px;
}

.login {
  @extend .box;
  padding: 10px;
}


