@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");
ol, ul {
  list-style: none; }

a img {
  border: none; }

body {
  margin-top: 70px;
  font-family: Merriweather, serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  color: #475b62;
  text-shadow: 1px 1px white;
  margin: 0; }

input {
  color: #475B62;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  outline: 0;
  padding: 4px; }

.btn:hover {
  background-color: #66CCFF; }

.box, .jumbotron, .welcome, .register, .login {
  background-color: rgba(240, 240, 240, 0.8);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px; }

/* Alert and Error styles */
.error {
  color: #D11404; }

.ng-dirty.ng-invalid {
  border-color: #D11404; }

.ng-dirty.ng-valid {
  border-color: #21D153; }

.alert {
  margin-top: 10px; }
  .alert a {
    margin-left: 20px; }

/*
 * Page styles
 */
.welcome {
  margin-top: 10px; }
  .welcome button {
    margin: 10px 0; }

.register {
  padding: 10px; }

.login {
  padding: 10px; }
