ol, ul {
  list-style: none; }

a img {
  border: none; }

body {
  margin-top: 70px;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  color: #475b62;
  text-shadow: 1px 1px #eee;
  margin: 0 0 10px 0; }

input {
  color: #475B62;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  outline: 0;
  padding: 4px; }

.btn:hover {
  background-color: rgba(148, 148, 148, 0.8); }

.box, .jumbotron, .directory, .directory div:nth-child(even), .welcome, .register, .login, .user, .user .user-event, .event > div, .event-participants, .edit-divisions, .event-divisions, .event-edit, .signup, .event-brackets {
  background-color: rgba(240, 240, 240, 0.8);
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px; }

.clear, .user .user-event {
  overflow: auto; }

.directory {
  padding: 10px; }
  .directory div:nth-child(even) {
    background-color: #fff; }

.welcome {
  margin-top: 10px; }
  .welcome button {
    margin: 10px 0; }

.register {
  padding: 10px; }

.login {
  padding: 10px; }

.user {
  padding: 10px; }
  .user h1 {
    margin: 5px auto; }
  .user .user-event {
    background-color: rgba(199, 199, 199, 0.8);
    margin: 8px auto; }
    .user .user-event h3 {
      float: left;
      margin-left: 6px; }
    .user .user-event .button-group {
      float: right; }

/* Alert and Error styles */
.error {
  color: #D11404; }

.ng-dirty.ng-invalid {
  border-color: #D11404; }

.ng-dirty.ng-valid {
  border-color: #21D153; }

.alert {
  margin-top: 10px; }
  .alert a {
    margin-left: 20px; }

/*
 * Page styles
 */
.event > div {
  padding: 10px;
  font-size: 1.4rem; }
.event a {
  margin: 5px auto; }
.event input {
  width: 50%;
  margin: 6px auto; }
.event select {
  width: 50%;
  margin: 0 auto; }

.event-participants {
  background-color: #fff;
  border: 1px solid rgba(240, 240, 240, 0.8);
  margin-top: 6px;
  padding: 10px; }
  .event-participants td {
    text-align: left; }
  .event-participants tr:nth-child(even) {
    background: rgba(240, 240, 240, 0.8); }

.edit-divisions td {
  text-align: left; }

.event-divisions {
  padding: 10px; }
  .event-divisions h1 {
    margin-bottom: 10px; }
  .event-divisions label {
    font-size: 1.4rem; }
  .event-divisions input {
    width: 45%;
    float: left;
    margin-right: 5px; }
  .event-divisions .checkbox-inline {
    float: left; }
    .event-divisions .checkbox-inline input {
      width: 14px; }

.event-edit {
  padding: 10px; }
  .event-edit h1 {
    margin-bottom: 10px; }

.signup {
  padding: 10px; }
  .signup h1 {
    margin: 6px auto; }
  .signup .radio-inline {
    font-size: 1.2rem;
    float: left;
    margin-right: 10px; }

.event-brackets td {
  text-align: left; }

#divisionModal {
  font-size: 1.4rem; }
