<section>
<div class="container">
	<div class="make-divisions">
		<h1><a ng-href="#/event/{{userId}}/{{eventId}}">{{event.name}}</a></h1>
		<h2>Create new division</h2>
		<form name="myForm" class="form-horizontal" 
			ng-submit="addDivision()">
			<div class="form-group">
				<label class="col-sm-2">Weight</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" placeholder="min weight"
						ng-model="division.minWeight">
					<input type="number" class="form-control" placeholder="max weight"
						ng-model="division.maxWeight">		
				</div><!-- col-sm-10 -->
				
			</div><!-- form-group -->
			<div class="form-group">
				<label class="col-sm-2">Age</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" placeholder="min age"
						ng-model="division.minAge">
					<input type="number" class="form-control" placeholder="max age"
						ng-model="division.maxAge">		
				</div><!-- col-sm-10 -->
				
			</div><!-- form-group -->
			<div class="form-group">
				<label class="col-sm-2">Rank</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="rank"
						ng-model="division.rank">	
				</div><!-- col-sm-10 -->
				
			</div><!-- form-group -->
			<div class="form-group">
				<label class="col-sm-2">Sex</label>
				<div class="col-sm-10">
					<label for="div-male" class="radio-inline">
            <input type="radio" name="sex" id="div-male" ng-model="division.sex" value="Male"
            	ng-model="division.sex">Male
          </label>
          <label for="div-female" class="radio-inline">
            <input type="radio" name="sex" id="div-female" ng-model="division.sex" value="Female"
            	ng-model="division.sex">Female
          </label>
				</div><!-- col-sm-10 -->
			</div><!-- form-group -->
			
			<button class="btn btn-default" type="submit">Make division</button>
		</form>
	</div><!-- make-divisions -->
	<div class="edit-divisions">
		<table class="table">
			<thead>
				<th>Div Name</th>
				<th>Min Weight</th>
				<th>Max Weight</th>
				<th>Min Age</th>
				<th>Max Age</th>
				<th>Rank</th>
				<th>Sex</th>
			</thead>
		<tbody>
			<tr ng-repeat="(key, division) in event.divisions">
				<td>{{division.name}}</td>
				<td>{{division.minWeight}}</td>
				<td>{{division.maxWeight}}</td>
				<td>{{division.minAge}}</td>
				<td>{{division.maxAge}}</td>
				<td>{{division.rank}}</td>
				<td>{{division.sex}}</td>
				</tr><!-- division -->
			</tbody>
		</table>	
	</div><!-- edit-divisions -->
</div><!-- container -->
</section>