<section>
<div class="container">
	<div class="event">
		<div>
			<h1>{{event.name}}</h1>	
			<a ng-href="#/signup/{{userId}}/{{eventId}}" class="btn btn-default">Sign up for event</a>
			<p>Location: {{event.location}}</p>
			<p>Date: {{event.date}}</p>	
		</div>
		<div ng-show="loggedIn">
			<h2>Event Tools</h2>
			<a ng-href="#/event/{{userId}}/{{eventId}}/edit" ng-show="loggedIn" class="btn btn-default">Edit event</a>
			<button class="btn btn-default" 
				ng-show="loggedIn"
				ng-click="division()">
				Divide</button>
			<a ng-href="#/event/{{userId}}/{{eventId}}/edit/divisions" class="btn btn-default">
				Edit Divisions</a>
			<a ng-href="#/event/{{userId}}/{{eventId}}/edit/brackets" class="btn btn-default">
				Edit Brackets</a>
		</div>
		<div>
			<h2>Search</h2>
			<input type="text" class="form-control" placeholder="Search by name, age, rank..." 
				ng-model="list.search">
			<label for="">Order by</label>
			<select class="form-control" ng-model="list.order">
			  <option value="lastName">Last Name</option>
			  <option value="age">Age</option>
			  <option value="weight">Weight</option>
			  <option value="rank">Rank</option>
			  <option value="sex">Sex</option>
			  <option value="divsion">Division</option>
			</select>
		</div><!-- search -->
		<div>
			<h2>Participants</h2>
			<table class="table">
				<thead>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Age</th>
					<th>Weight</th>
					<th>Rank</th>
					<th>Sex</th>
					<th>Division</th>
					<th ng-show="loggedIn">Edit</th>
				</thead>
				<tbody>
					<tr class="participant" 
						ng-repeat="user in participants | filter: list.search | orderBy : list.order:list.direction">
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.age}}</td>
						<td>{{user.weight}}</td>
						<td>{{user.rank}}</td>
						<td>{{user.sex}}</td>
						<td>{{user.division}}</td>
						<td ng-show="loggedIn"><a ng-href="#/">Edit</a></td>
					</tr><!-- participant -->
				</tbody>
			</table><!-- table -->
		</div> <!-- participants -->
	</div><!-- event -->
</div><!-- container -->
</section>
