<section>
<div class="container">
	<div class="event-divisions">
		<h1><a ng-href="#/event/{{userId}}/{{eventId}}">{{event.name}}</a></h1>
		<h2>Create new division</h2>
		<form name="myForm" class="form-horizontal" 
			ng-submit="addDivision()">
			<div class="form-group">
				<label class="col-sm-2">Weight</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" placeholder="min weight"
						ng-model="division.minWeight" required>
					<input type="number" class="form-control" placeholder="max weight"
						ng-model="division.maxWeight" required>		
				</div><!-- col-sm-10 -->
				
			</div><!-- form-group -->
			<div class="form-group">
				<label class="col-sm-2">Age</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" placeholder="min age"
						ng-model="division.minAge" required>
					<input type="number" class="form-control" placeholder="max age"
						ng-model="division.maxAge" required>		
				</div><!-- col-sm-10 -->
				
			</div><!-- form-group -->
			<div class="form-group">
				<label class="col-sm-2">Rank</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="rank"
						ng-model="division.rank" required>	
				</div><!-- col-sm-10 -->
				
			</div><!-- form-group -->
			<div class="form-group">
				<label class="col-sm-2">Sex</label>
				<div class="col-sm-10">
					<label for="div-male" class="checkbox-inline">
						<input type="checkbox" name="male" id="div-male"
            	ng-true-value="'Male'" ng-false-value="false"
            	ng-model="division.male">
						Male
          </label>
          
          <label for="div-female" class="checkbox-inline">
          	<input type="checkbox" name="female" id="div-female" 
          		ng-true-value="'Female'" ng-false-value="false"
          		ng-model="division.female">
						Female
          </label>
				</div><!-- col-sm-10 -->
			</div><!-- form-group -->
			
			<button class="btn btn-default" ng-disabled="myForm.$invalid" type="submit">Make division</button>
		</form>
	</div><!-- make-divisions -->
	<div class="edit-divisions">
		<table class="table">
			<thead>
				<th>Division Name</th>
				<th>Min Weight</th>
				<th>Max Weight</th>
				<th>Min Age</th>
				<th>Max Age</th>
				<th>Rank</th>
				<th>Sex</th>
			</thead>
		<tbody>
			<tr ng-repeat="(key, division) in event.divisions">
				<td>{{division.name}}</td>
				<td>{{division.minWeight}}</td>
				<td>{{division.maxWeight}}</td>
				<td>{{division.minAge}}</td>
				<td>{{division.maxAge}}</td>
				<td>{{division.rank}}</td>
				<td>
					<span ng-repeat="sex in division.sex">{{sex + ' '}}</span>
				</td>
				</tr><!-- division -->
			</tbody>
		</table>	
	</div><!-- edit-divisions -->
</div><!-- container -->
</section>