<section>
<div class="container">
	<div class="user">
		<h1>Make a new event</h1>
		
		<button class="btn btn-default" data-toggle="modal" data-target="#eventModal">
			New Event
		</button>

		<h2>My events</h2>

		<p class='no-events' ng-if="events.length < 1">Start by making a new event</p>

		<div class="user-event" ng-repeat="event in events">
			<a class="event-name" ng-href="#/event/{{userId}}/{{event.$id}}"><h3>{{event.name}}</h3></a>
			<div class="button-group">
				<a class="btn btn-default" ng-href="#/event/{{userId}}/{{event.$id}}/edit">edit</a>
				<a class="btn btn-primary" ng-href="#/signup/{{userId}}/{{event.$id}}">sign up link</a>
				<a class="btn btn-danger" role='button' 
					confirmation-needed="Are you sure you want to delete {{event.name}}?"
					ng-click="deleteEvent(event.$id)">delete</a>
			</div><!-- button-group -->
		</div><!-- events -->
	</div><!-- user -->
</div><!-- container -->
<event-modal></event-modal>
</section>