<section>
<div class="container">
	<div class="user">
		<h1>make a new event</h1>
		<button class="btn btn-default" data-toggle="modal" data-target="#eventModal">New Event</button>	
		<div class="events">
			<h2>my events</h2>
			<div class="event" ng-repeat="event in events">
				<a class="event-name" ng-href="#/event/{{userId}}/{{event.$id}}"><h2>{{event.name}}</h2></a>
				<div class="button-group">
					<a class="btn btn-danger" role='button' ng-click="deleteEvent(event.$id)">delete</a>
					<a class="btn btn-default" ng-href="#/event/{{userId}}/{{event.$id}}/edit">edit</a>
					<a class="btn btn-primary" ng-href="#/signup/{{userId}}/{{event.$id}}">sign up link</a>
				</div><!-- button-group -->
				<div class="clearfix"></div>
			</div><!-- event -->
		</div><!-- events -->
	</div><!-- user -->
</div><!-- container -->
<event-modal></event-modal>
</section>